@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #001f25;
  background: linear-gradient(
    to bottom,
    #d2e0e3 0%,
    #d2e0e3 200px,
    #f8fcfd 400px,
    #f8fcfd 100%
  );
}

pre {
  white-space: pre-wrap;
}

.Knapp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 60px;
  gap: 10px;

  width: 217px;
  height: 71px;
  left: 150px;
  top: 507px;
  color: white;
  font-size: large;
  background: #2e2e2e;
  border-radius: 999px;
}
.Knapp:hover {
  background: darkgray;
}

.link {
  color: white;
}

.footer {
  display: grid;
  gap: 16px;
  row-gap: 16px;
  width: 100%;
  color: rgb(46, 45, 45);
  grid-template-columns: 1fr 1fr 1fr;
  align-items: top;
  padding: 20px;
}
h1 {
  color: #2e2e2e bold;
  font-size: 2rem;
}

.F1 {
  width: 275px;
  margin-left: 150px;
}

.F2 {
  display: flex;
  width: 247px;
  height: 70px;
  gap: 20px;
  margin-left: 20px;
}

.F3 {
  width: 223px;
  display: flex;
  flex-direction: column;
}
p {
  color: #4e4e4e;
}
